In [ ]:
# loading df

In [1]:
# some packages need async support in jupyter
import nest_asyncio
nest_asyncio.apply()

In [2]:
from mb_pandas.dfload import load_any_df

In [3]:
from mb_pandas.version import version
version

'1.1.13'

In [4]:
data = load_any_df('./final_dataset.csv')

In [5]:
data

,labels,bbox,image_path,mask_path,food_labels
0,['dish'],"['[58.0, 0.0, 1142.0, 1496.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0000_mask.png,['Pumpkin_seed_rolls']
1,['dish'],"['[0.0, 0.0, 1200.0, 1600.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0001_mask.png,['Three-grain_rolls']
2,['dish'],"['[0.0, 0.0, 1178.0, 1516.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0002_mask.png,['Croissant']
3,['dish'],"['[30.0, 0.0, 1170.0, 1600.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0003_mask.png,['Danish_Pastry']
4,['dish'],"['[0.0, 0.0, 1200.0, 1600.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0004_mask.png,['Pain_au_Chocolat']
...,...,...,...,...,...
194,['dish'],"['[127.0, 128.0, 961.0, 1412.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0194_mask.png,['Hash_browns']
195,['dish'],"['[47.0, 40.0, 1069.0, 1521.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0195_mask.png,['Pancakes']
196,['dish'],"['[154.0, 58.0, 989.0, 1447.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0196_mask.png,['Bacon']
197,['dish'],"['[57.0, 63.0, 1058.0, 1423.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0197_mask.png,['Scrambled_eggs']
198,['dish'],"['[50.0, 183.0, 973.0, 1392.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0198_mask.png,['Grilled_vegetables']

In [6]:
from mb_pandas.transform import remove_unnamed,rename_columns

In [7]:
remove_unnamed(data)

,labels,bbox,image_path,mask_path,food_labels
0,['dish'],"['[58.0, 0.0, 1142.0, 1496.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0000_mask.png,['Pumpkin_seed_rolls']
1,['dish'],"['[0.0, 0.0, 1200.0, 1600.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0001_mask.png,['Three-grain_rolls']
2,['dish'],"['[0.0, 0.0, 1178.0, 1516.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0002_mask.png,['Croissant']
3,['dish'],"['[30.0, 0.0, 1170.0, 1600.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0003_mask.png,['Danish_Pastry']
4,['dish'],"['[0.0, 0.0, 1200.0, 1600.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0004_mask.png,['Pain_au_Chocolat']
...,...,...,...,...,...
194,['dish'],"['[127.0, 128.0, 961.0, 1412.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0194_mask.png,['Hash_browns']
195,['dish'],"['[47.0, 40.0, 1069.0, 1521.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0195_mask.png,['Pancakes']
196,['dish'],"['[154.0, 58.0, 989.0, 1447.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0196_mask.png,['Bacon']
197,['dish'],"['[57.0, 63.0, 1058.0, 1423.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0197_mask.png,['Scrambled_eggs']
198,['dish'],"['[50.0, 183.0, 973.0, 1392.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0198_mask.png,['Grilled_vegetables']

In [9]:
rename_columns(data,'labels2','labels')

,labels2,bbox,image_path,mask_path,food_labels
0,['dish'],"['[58.0, 0.0, 1142.0, 1496.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0000_mask.png,['Pumpkin_seed_rolls']
1,['dish'],"['[0.0, 0.0, 1200.0, 1600.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0001_mask.png,['Three-grain_rolls']
2,['dish'],"['[0.0, 0.0, 1178.0, 1516.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0002_mask.png,['Croissant']
3,['dish'],"['[30.0, 0.0, 1170.0, 1600.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0003_mask.png,['Danish_Pastry']
4,['dish'],"['[0.0, 0.0, 1200.0, 1600.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0004_mask.png,['Pain_au_Chocolat']
...,...,...,...,...,...
194,['dish'],"['[127.0, 128.0, 961.0, 1412.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0194_mask.png,['Hash_browns']
195,['dish'],"['[47.0, 40.0, 1069.0, 1521.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0195_mask.png,['Pancakes']
196,['dish'],"['[154.0, 58.0, 989.0, 1447.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0196_mask.png,['Bacon']
197,['dish'],"['[57.0, 63.0, 1058.0, 1423.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0197_mask.png,['Scrambled_eggs']
198,['dish'],"['[50.0, 183.0, 973.0, 1392.0]']",/home/malav/Downloads/datasets/pp_dataset/data...,0198_mask.png,['Grilled_vegetables']

In [11]:
from mb_pandas.convert_data import convert_string_to_list, convert_string_to_dict, convert_string_to_type

In [15]:
data_l = convert_string_to_list(data, 'bbox')

In [16]:
data_l

,labels,bbox,image_path,mask_path,food_labels
0,['dish'],"[[58.0, 0.0, 1142.0, 1496.0]]",/home/malav/Downloads/datasets/pp_dataset/data...,0000_mask.png,['Pumpkin_seed_rolls']
1,['dish'],"[[0.0, 0.0, 1200.0, 1600.0]]",/home/malav/Downloads/datasets/pp_dataset/data...,0001_mask.png,['Three-grain_rolls']
2,['dish'],"[[0.0, 0.0, 1178.0, 1516.0]]",/home/malav/Downloads/datasets/pp_dataset/data...,0002_mask.png,['Croissant']
3,['dish'],"[[30.0, 0.0, 1170.0, 1600.0]]",/home/malav/Downloads/datasets/pp_dataset/data...,0003_mask.png,['Danish_Pastry']
4,['dish'],"[[0.0, 0.0, 1200.0, 1600.0]]",/home/malav/Downloads/datasets/pp_dataset/data...,0004_mask.png,['Pain_au_Chocolat']
...,...,...,...,...,...
194,['dish'],"[[127.0, 128.0, 961.0, 1412.0]]",/home/malav/Downloads/datasets/pp_dataset/data...,0194_mask.png,['Hash_browns']
195,['dish'],"[[47.0, 40.0, 1069.0, 1521.0]]",/home/malav/Downloads/datasets/pp_dataset/data...,0195_mask.png,['Pancakes']
196,['dish'],"[[154.0, 58.0, 989.0, 1447.0]]",/home/malav/Downloads/datasets/pp_dataset/data...,0196_mask.png,['Bacon']
197,['dish'],"[[57.0, 63.0, 1058.0, 1423.0]]",/home/malav/Downloads/datasets/pp_dataset/data...,0197_mask.png,['Scrambled_eggs']
198,['dish'],"[[50.0, 183.0, 973.0, 1392.0]]",/home/malav/Downloads/datasets/pp_dataset/data...,0198_mask.png,['Grilled_vegetables']